<div class="wrapper">
  <div class="ui grid container info">
    <div class="twelve wide column">
      <div id="mapid"></div>
    </div>
    <div class="four wide column details">
      <h3>Title:</h3>
      <p>{{activity.title}}</p>
      <h3>Comment:</h3>
      <p>{{activity.comments}}</p>
      <h3>Distance:</h3>
      <p>{{activity.distance}} km</p>
      <h3>Date:</h3>
      <p>{{activity.date | date:"dd.MM.yyyy"}}</p>
      <h3>Duration:</h3>
      <p>{{activity.duration}}</p>
    </div>
  </div>
</div>